<h1>Sing-In</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="enter password" required>
    <input type="submit" name="submit" placeholder="submit" required>
</form>